@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

body{
    font-family: 'Libre Baskerville', serif;
}
.bg-clinic-image {
  background-image: url('./assets/home.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-overlay{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
}
 .doctor-info{
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
}